name: Validate Template

on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  validate-template:
    runs-on: macos-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Tuist bundle
        uses: tuist/tuist-action@0.13.0
        with:
          command: 'bundle'

      - name: Make validate script runnable
        run: chmod +x ./validate-template.sh

      - name: Validate Template
        run: ./validate-template.sh
